[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
pre-commit = "*"
prefect = {extras = ["viz"], version = "*"}
black = "*"

[packages]
prefect = "*"
jsonpickle = "*"
myfitnesspal = "*"

[requires]
python_version = "3.8"
