[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
jsonpickle = "*"
myfitnesspal = "*"
dropbox = "*"
jinja2 = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"
pre-commit = "*"
mypy = "*"
prefect = {extras = ["viz"], version = "*"}
pytest = "*"
python-language-server = {extras = ["all"], version = "*"}
pyls-isort = "*"
pyls-mypy = "*"
pyls-black = "*"
autoflake = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
